/*리뷰 작성 form navbar*/
.formNav{
    width: 1920px;
    height: 52px;
    flex-shrink: 0;

    background: var(--text-white, #FFF);
}

.formNav ul{
    margin:0;
    padding-left:320px;
    list-style:none;
}

.formNav li{
    padding:14px;
    display: inline-block;
}

.formNav_link{
    color: var(--text-tertiary, #A4A4A4);
    text-decoration:none;

    /* Title 2/SemiBold */
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 133.333% */
}

.formNav_link:hover{
    color: var(--primary-normal, #459830);
}

.formNav_link:hover:after{
    content: "";
    display: block;
    border-bottom: 1px solid #459830;
    margin: 14px auto;
}
