li {
    list-style: none;
}

li img {
    width: 152px;
    height: 168px;
    border : 1px solid #C9CDD2;
}
.real-upload{
    display: none;
}
.upload{
    width: 152px;
    height: 168px;
    display: flex;
    float:left;
    border : 1px solid #C9CDD2;
    position : relative;
}

.upload img{
    width:61px;
    height:56px;
    position: absolute;
    top:32%;
    left:31%;
}

.image-preview {
    width: 840px;
    height: 180px;
    display: flex;
    gap: 8px;
    flex-wrap:wrap;
    float:right;
}
