/*form content css*/
div.content{
    width:860px;
    float:left;
}

section.container{
    width:1100px;
    margin:0 auto;
    height: 2000px;
}

li {
    list-style: none;
}

/*sidebar css*/
.sidebar{
    float:right;
    margin-top: 20px;

    width: 180px;
    height: 2000px;
    flex-shrink: 0;
}

.sidebar_content{
    position: sticky;
    top: 20px;

    border-radius: 8px;
    border: 1px solid var(--line-gray-200, #C9CDD2);
    background: var(--black-white-white, #FFF);
}

.sidebar_content ul{
    padding-left:20px;
}

.sidebar_content li{
    margin-bottom: 12px;
}

.sidebar_title{
    margin: 16px auto 11px auto;
    color: var(--text-primary, #222);
    text-align: center;
    width:100%;

    /* Title 2/SemiBold */
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 133.333% */
}

.sidebar_title::after{
    content: "";
    display: block;
    border-bottom: 1px solid #e8ebed;
    margin-top: 11px;
}

.sidebar_content_title{
    margin-bottom: 20px;

    color: var(--text-primary, #222);
    text-decoration: none;

    /* Body 1/Medium */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
}

#sidebar_btn_submit{
    width: 140px;
    height: 40px;
    flex-shrink: 0;

    border-radius: 4px;
    border: none;
    background: var(--primary-normal, #459830);

    color: var(--text-white, #FFF);
    text-align: center;

    /* Title 2/SemiBold */
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 133.333% */
}

#sidebar_btn_return{
    width: 140px;
    height: 40px;
    flex-shrink: 0;

    border-radius: 4px;
    border: 1px solid var(--primary-light, #77C662);
    background: var(--black-white-white, #FFF);

    color: var(--primary-normal, #459830);
    text-align: center;

    /* Title 2/Medium */
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 133.333% */
}

.sidebar_btn_certificatation{
    color: var(--text-tertiary, #A4A4A4);

    /* Body 2/Medium */
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}


.content_form{
    margin-top:20px;
    border-radius: 8px;
    border: 1px solid var(--line-gray-200, #C9CDD2);
    background: var(--text-white, #FFF);
}

.content_form_title{
    margin-top: 20px;
    color: var(--text-primary, #222);
    text-align: center;

    /* Head 2/SemiBold */
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 133.333% */
}

.content_form_subtitle{
    color: var(--text-tertiary, #A4A4A4);

    /* Body 2/Medium */
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}

.content_form_subtitle:after{
    content: "";
    display: block;
    border-bottom: 1px solid #e8ebed;
    margin-top: 12px;
}


/*기본 정보 css*/
.content_input_fee{
    margin: 20px auto;
    height: 30px;
    width: 650px;

    text-align:left;
}

.content_input_product{
    margin: 20px auto;
    width: 650px;

    text-align:left;
}

.content_input_fee_title{
    width: 60px;
    text-align:left;
    margin-right: 55px;

    color: var(--text-primary, #222);

    /* Body 1/Medium */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
}


.content_input_fee_subtitle{
    margin-right: 12px;

    color: var(--text-primary, #222);

    /* Body 2/Medium */
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}

.content_input_fee input{
    padding: 4px 12px;
    height: 28px;

    border-radius: 10px;
    border: 1px solid var(--line-gray-200, #C9CDD2);
    background: var(--black-white-white, #FFF);

    /* Body 2/Medium */
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}

#payment{
    width: 170px;
    color: var(--text-tertiary, #A4A4A4);
}

#deposit,#fee{
    width: 120px;
    margin-right: 50px;
    color: var(--text-secondary, #666);
}



/*위치 정보 css*/
.content_form_addressInput{
    margin: 4px auto;

    height: 36px;
    border-radius: 8px;
    border: 1px solid var(--line-gray-100, #E8EBED);
    background: var(--gray-gray-50, #F7F8F9);

    color: var(--text-tertiary, #A4A4A4);

    /* Body 1/Medium */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
}

.content_form_location_submit{
    width: 67px;
    height: 36px;
    flex-shrink: 0;
    margin:0px 22px 0px 5px;

    border-radius: 8px;
    border: 1px solid var(--primary-normal, #459830);
    background: var(--black-white-white, #FFF);

    color: var(--primary-normal, #459830);

    /* Body 1/Medium */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
}


#address{
    width:342px;
}

#addressDetail{
    width:574px;
}

.select_year{
    width: 129px;
    height: 36px;
    flex-shrink: 0;

    border-radius: 8px;
    border: 1px solid var(--line-gray-200, #C9CDD2);
    background: var(--black-white-white, #FFF);

    color: var(--text-secondary, #666);

    /* Body 1/Medium */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
}

/*승계 계약기간*/
.content_term{
    width: 520px;
    text-align:left;
}

.content_term_title{
    color: var(--text-secondary, #666);
    margin-right: 20px;

    /* Body 2/Medium */
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}

.content_term_select{
    width: 132px;
    height: 36px;
    flex-shrink: 0;

    padding: 8px 16px;
    margin: 20px 6px;

    border-radius: 10px;
    border: 1px solid var(--line-gray-200, #C9CDD2);
    background: var(--black-white-white, #FFF);

    color: var(--text-secondary, #666);

    /* Body 2/Medium */
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}


/*단점 키워드 css*/
.content_cons_header{
    height: 22px;
    width:500px;
}
.content_cons_title{
    width: 60px;
    margin-left: 30px;
    display: inline;
    color: var(--text-primary, #222);

    /* Body 1/Medium */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
}

.content_cons_form_keyword{
    width: 420px;
    text-align:left;
    margin: 16px 0px 32px 0px;
}

.content_cons_form_keyword_title{
    width: 80px;
    text-align:left;
    margin-right: 25px;

    color: var(--text-primary, #222);

    /* Body 1/Medium */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */ 
}


/*단점 선택*/
.content_cons_form_radiobtn_red,
.content_cons_form_radiobtn_orange,
.content_cons_form_radiobtn_yellow,
.content_cons_form_radiobtn_grey{
    vertical-align: middle;
    appearance: none;
    margin-right: 40px;

    background: #e8ebed;

    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;

    transition: border 0.25s ease-in-out;
}

.content_cons_form_radiobtn_red:checked{
    border: 4px solid #e8ebed;
    background-color: var(--3, #FC453A);
}
.content_cons_form_radiobtn_orange:checked{
    border: 4px solid #e8ebed;
    background-color: var(--3, #FF8B72);
}
.content_cons_form_radiobtn_yellow:checked{
    border: 4px solid #e8ebed;
    background-color: var(--3, #FFC34E);
}
.content_cons_form_radiobtn_grey:checked{
    border: 4px solid #e8ebed;
    background-color: var(--gray-gray-600, #454C53);
}

.content_cons_form_radiobtn_red:hover,
.content_cons_form_radiobtn_orange:hover,
.content_cons_form_radiobtn_yellow:hover,
.content_cons_form_radiobtn_grey:hover{
    box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
    cursor: pointer;
}

/*리뷰작성 css*/
.content_input_text input{
    border: none;
    width: 100%;
    padding-left: 24px;
    margin-bottom: 20px;


    color: var(--text-tertiary, #A4A4A4);

    /* Body 1/Medium */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
}

.content_input_text textarea{
    border: none;
    padding-left: 36px;

    color: var(--text-secondary, #9EA4AA);

    /* Body 2/Medium */
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}

.content_input_star{
    display: flex;
    justify-content:left;
}

.content_input_star_title{
    margin: 11px 15px 0px 24px;
    color: var(--text-secondary, #666);

    /* Body 1/Medium */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
}

  
  .rating {
    position: relative;
    color: #ddd;
    font-size: 22px;
    text-align: center;
  }
  
  .rating input {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  
  .rating_star {
    width: 0;
    color: #ffc107;
    position: absolute;
    left: 0;
    right: 0;
    overflow: hidden;
    pointer-events: none;
  }

/*사진첨부*/
.content_photo{
    width: 100%;
    height: 180px;

    padding: 15px;
}

.content_photo_input{
    display:none;
}

.content_photo_imgarea{
    width: 152px;
    height: 160px;

    display: flex;
    float:left;
    position : relative;

    border-radius: 4px;
    border: 1px solid var(--line-gray-200, #C9CDD2);
    background: var(--black-white-white, #FFF);
}

.content_photo_imgarea img{
    width: 61px;
    height: 56px;

    margin: 50px 50px;
}

.content_photo_preview{
    width: 660px;
    height: 180px;
    display: flex;
    gap: 8px;
    flex-wrap:wrap;
    float:right;
}

.thumbnail {
    width: 152px;
    height: 160px;
}

li img {
    width: 152px;
    height: 168px;
    
}
