<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Review form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="/css/starter-template.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <link href="/css/form/reviewForm.css" rel="stylesheet">
    <link href="/css/form/formNavbar.css" rel="stylesheet">
    <link href="/css/form/formCheckbox.css" rel="stylesheet">
    <link href="/css/form/certificateModal.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href='https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css'>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="sweetalert2.all.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body style="height: 2000px; background : #f5f5f5;">
<nav class="navbar bg-body-tertiary" th:replace="fragments/common :: menu">
</nav>

<nav class="formNav">
    <ul>
        <li><a class="formNav_link" href="" th:href="@{/review/form}">리뷰쓰기</a></li>
        <li><a class="formNav_link" href="" th:href="@{/review/myReview}">내가 작성한 리뷰</a></li>
    </ul>
</nav>

<section class="container">
    <form id = "content_form" action="/review/form" th:object="${review}" th:action="@{/review/form}" method="post" enctype="multipart/form-data">
        <aside class="sidebar" id="sidebar">
            <div class="sidebar_content">
                <p class="sidebar_title" >리뷰 항목</p>
                <ul>
                    <li><a class="sidebar_content_title" href="#conHouseType">방구조</a></li>
                    <li><a class="sidebar_content_title" href="#conPayType">거래 정보</a></li>
                    <li><a class="sidebar_content_title" href="#conBasicInfo">기본정보</a></li>
                    <li><a class="sidebar_content_title" href="#conLocationInfo">위치정보</a></li>
                    <li><a class="sidebar_content_title" href="#conWeakKeyword">단점 키워드</a></li>
                    <li><a class="sidebar_content_title" href="#conText">내용 / 별점</a></li>
                    <li><a class="sidebar_content_title" href="#conPhoto">사진</a></li>
                    <li><input id="sidebar_btn_submit" type="submit" value="제출하기"></li>
                    <li><input id="sidebar_btn_return" type="button" value="뒤로가기"></li>
                    <li><h2 class="sidebar_btn_certificatation" />입주민 인증하기 ></li>
                </ul>
            </div>
        </aside>

        <div id = "content" class="content" align="center">
            <input type="hidden" th:field="*{articleNo}">
            
            <div class="content_form" id="conHouseType" data-ke-size="size26" style="height:165px;">
                <h3 class="content_form_title">방구조</h3>
                <p class="content_form_subtitle">리뷰를 작성할 집의 구조 형태를 선택해주세요.</p>
                <div class="content_form_radioBtn">
                    <input id="oneRoom" type="radio" name="houseType" value="원룸" th:field="*{houseType}">
                    <label for="oneRoom">원룸</label>
                </div>
                <div class="content_form_radioBtn">
                    <input id="twoRoom" type="radio" name="houseType" value="투룸" th:field="*{houseType}">
                    <label for="twoRoom">투룸</label>
                </div>
                <div class="content_form_radioBtn">
                    <input id="threeRoom" type="radio" name="houseType" value="쓰리룸"  th:field="*{houseType}">
                    <label for="threeRoom">쓰리룸</label>
                </div>
                <div class="content_form_radioBtn">
                    <input id="officeTels" type="radio" name="houseType" value="오피스텔"  th:field="*{houseType}">
                    <label for="officeTels">오피스텔</label>
                </div>
                <div class="content_form_radioBtn">
                    <input id="apartment" type="radio" name="houseType" value="아파트" th:field="*{houseType}">
                    <label for="apartment">아파트</label>
                </div>
                <span class="invalid-feedback" th:if="${#fields.hasErrors('houseType')}" th:errors="*{houseType}"> 입력해주세요</span>

            </div>

            <div class="content_form" id="conPayType" data-ke-size="size26" style="height: 165px;">
                <h3 class="content_form_title">거래 정보</h3>
                <p class="content_form_subtitle">리뷰를 작성할 집의 정보를 선택해주세요</p>
                <div class="content_form_radioBtn">
                    <input id="monthlyRent" type="radio" name="payType" value="월세">
                    <label for="monthlyRent">월세</label>
                </div>
                <div class="content_form_radioBtn">
                    <input id="jeonse" type="radio" name="payType" value="전세">
                    <label for="jeonse">전세</label>
                </div>
            </div>

            <div class="content_form" id="conBasicInfo" data-ke-size="size26" style="height: 217px;">
                <h3 class="content_form_title">기본 정보</h3>
                <p class="content_form_subtitle">리뷰를 작성할 집의 정보를 선택해주세요.</p>
                <div class="content_input_fee">
                    <label class="content_input_fee_title" for="payment">관리비</label>
                    <input type="text" id="payment" th:field="*{payment}" placeholder="예)5만원" required>
                </div>
                <div class="content_input_fee">
                    <label class="content_input_fee_title">금액</label>
                        <label class="content_input_fee_subtitle" for="deposit">보증금</label>
                        <input type="text" id="deposit" th:field="*{deposit}" placeholder="가격(단위:만원)" value="null"required >
                        <label class="content_input_fee_subtitle" for="fee">월세</label>
                        <input type="text" id="fee" th:field="*{fee}" placeholder="가격(단위:만원)">
                </div>
            </div>

            <div class="content_form" id="conLocationInfo" data-ke-size="size26" style="height:210px; ">
                <h3 class="content_form_title">위치정보</h3>
                <p class="content_form_subtitle">주소와 거주년도를 입력해주세요.</p>
                <label for="address"></label>
                <form class="content_form_location" method="post">
                    <input class="content_form_addressInput" type="text" placeholder="도로명, 건물명 지번 입력" id="address"  th:field="*{address}" required >
                    <input class="content_form_location_submit" type="button" value="검색" id="addressSearchBtn" onclick="sample6_execDaumPostcode()">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">
                        Please provide a valid city.
                    </div>
                    <form action="">
                        <select name="livingYear" id="year" title="거주년도" class="select_year" required >
                            <option value="">거주년도</option>
                        </select>
                        <div class="invalid-feedback"  th:if="${#fields.hasErrors('livingYear')}" th:errors="*{livingYear}" >
                            Living Year empty
                        </div>

                    </form>
                </form>
                <br>
                <input class="content_form_addressInput" type="text" placeholder="상세 주소를 입력해주세요." id="addressDetail"  th:field="*{addressDetail}" required>
            </div>

            <div class="content_form" id="conWeakKeyword" data-ke-size="size26" style="height:619px;">
                <h3 class="content_form_title">단점 키워드</h3>
                <p class="content_form_subtitle">심각, 경계, 주의 순으로 단점 키워드를 선택해주세요.</p>
                <div style="border: none;" class="content_cons_header">
                    <h4 class="content_cons_title" style="border-bottom: 1px solid #fc453a;">심각</h4>
                    <h4 class="content_cons_title" style="border-bottom: 1px solid #ff8b72;">경계</h4>
                    <h4 class="content_cons_title" style="border-bottom: 1px solid #ffc34e;">주의</h4>
                    <h4 class="content_cons_title" style="border-bottom: 1px solid #c9cdd2;">문제없음</h4>
                </div>
                <div class="content_cons_form" style="border: none;">
                    <div class="content_cons_form_keyword" >
                        <label class="content_cons_form_keyword_title">소음</label>
                        <input class="content_cons_form_radiobtn_red" th:field="${keyword.noise}" name="noise" value="1.0"type="radio">
                        <input class="content_cons_form_radiobtn_orange" th:field="${keyword.noise}" name="noise" value="2.0" type="radio">
                        <input class="content_cons_form_radiobtn_yellow" th:field="${keyword.noise}" name="noise" value="3.0" type="radio">
                        <input class="content_cons_form_radiobtn_grey" th:field="${keyword.noise}" name="noise" value="4.0" type="radio"  >
                    </div>
                    <div class="content_cons_form_keyword" >
                        <label class="content_cons_form_keyword_title" >치안</label>
                        <input class="content_cons_form_radiobtn_red" th:field="${keyword.safety}" name="safety" value="1.0" type="radio"  >
                        <input class="content_cons_form_radiobtn_orange" th:field="${keyword.safety}" name="safety" value="2.0" type="radio"  >
                        <input class="content_cons_form_radiobtn_yellow" th:field="${keyword.safety}" name="safety" value="3.0" type="radio"  >
                        <input class="content_cons_form_radiobtn_grey" th:field="${keyword.safety}" name="safety" value="4.0" type="radio"  >
                    </div>
                    <div class="content_cons_form_keyword">
                        <label class="content_cons_form_keyword_title">쓰레기 처리</label>
                        <input class="content_cons_form_radiobtn_red" th:field="${keyword.trash}" name="trash" value="1.0" type="radio"  >
                        <input class="content_cons_form_radiobtn_orange" th:field="${keyword.trash}" name="trash" value="2.0" type="radio"  >
                        <input class="content_cons_form_radiobtn_yellow"th:field="${keyword.trash}"  name="trash" value="3.0" type="radio"  >
                        <input class="content_cons_form_radiobtn_grey" th:field="${keyword.trash}" name="trash" value="4.0" type="radio"  >
                    </div>
                    <div class="content_cons_form_keyword" >
                        <label class="content_cons_form_keyword_title" >냄새</label>
                        <input class="content_cons_form_radiobtn_red" th:field="${keyword.smell}" name="smell" value="1.0" type="radio"  >
                        <input class="content_cons_form_radiobtn_orange" th:field="${keyword.smell}" name="smell" value="2.0" type="radio"  >
                        <input class="content_cons_form_radiobtn_yellow" th:field="${keyword.smell}" name="smell" value="3.0" type="radio"  >
                        <input class="content_cons_form_radiobtn_grey" th:field="${keyword.smell}" name="smell" value="4.0" type="radio"  >
                    </div>
                    <div class="content_cons_form_keyword" >
                        <label class="content_cons_form_keyword_title" >옵션 상태</label>
                        <input class="content_cons_form_radiobtn_red" th:field="${keyword.optionQuality}" name="optionQuality" value="1.0" type="radio"  >
                        <input class="content_cons_form_radiobtn_orange" th:field="${keyword.optionQuality}" name="optionQuality" value="2.0" type="radio"  >
                        <input class="content_cons_form_radiobtn_yellow" th:field="${keyword.optionQuality}" name="optionQuality" value="3.0" type="radio"  >
                        <input class="content_cons_form_radiobtn_grey" th:field="${keyword.optionQuality}" name="optionQuality" value="4.0" type="radio"  >
                    </div>
                    <div class="content_cons_form_keyword" >
                        <label class="content_cons_form_keyword_title" >일조량</label>
                        <input class="content_cons_form_radiobtn_red" th:field="${keyword.sunlight}" name="sunlight" value="1.0" type="radio"  >
                        <input class="content_cons_form_radiobtn_orange" th:field="${keyword.sunlight}"  name="sunlight" value="2.0" type="radio"  >
                        <input class="content_cons_form_radiobtn_yellow" th:field="${keyword.sunlight}" name="sunlight" value="3.0" type="radio"  >
                        <input class="content_cons_form_radiobtn_grey" th:field="${keyword.sunlight}" name="sunlight" value="4.0" type="radio"  >
                    </div>
                    <div class="content_cons_form_keyword" >
                        <label class="content_cons_form_keyword_title" >벌레</label>
                        <input class="content_cons_form_radiobtn_red" th:field="${keyword.insect}" name="insect" value="1.0" type="radio"  >
                        <input class="content_cons_form_radiobtn_orange" th:field="${keyword.insect}" name="insect" value="2.0" type="radio"  >
                        <input class="content_cons_form_radiobtn_yellow" th:field="${keyword.insect}" name="insect" value="3.0" type="radio"  >
                        <input class="content_cons_form_radiobtn_grey" th:field="${keyword.insect}" name="insect" value="4.0" type="radio"  >
                    </div>
                    <div class="content_cons_form_keyword">
                        <label class="content_cons_form_keyword_title" >편의시설</label>
                        <input class="content_cons_form_radiobtn_red" th:field="${keyword.convenience}" name="convenience" value="1.0" type="radio"  >
                        <input class="content_cons_form_radiobtn_orange" th:field="${keyword.convenience}" name="convenience" value="2.0" type="radio"  >
                        <input class="content_cons_form_radiobtn_yellow" th:field="${keyword.convenience}" name="convenience" value="3.0" type="radio"  >
                        <input class="content_cons_form_radiobtn_grey" th:field="${keyword.convenience}" name="convenience" value="4.0" type="radio"  >
                    </div>
                </div>
            </div>

            <div class="content_form" id="conText" data-ke-size="size26" style="height: 417px;">
                <h3 class="content_form_title" for="content">상세 설명</h3>
                <p class="content_form_subtitle">집에 대한 정보를 상세하게 적어주세요.</p>
                <div class="content_input_text">
                    <input type="text" id="contentTitle" name="contentTitle" placeholder="제목을 작성해주세요."
                        th:field="*{contentTitle}"><br>
                    <textarea class="form-control" id="contentText" rows="10" th:field="*{contentText}"
                    placeholder="내용을 입력해주세요"></textarea>
                </div>

                <div class="invalid-feedback" th:if="${#fields.hasErrors('contentText')}" th:errors="*{contentText}">
                    CONTENT ERROR MESSAGE
                </div>
                <div class="content_input_star">
                    <span class="content_input_star_title">별점</span>
                    <span class="rating">
                    ★★★★★
                    <span class="rating_star">★★★★★</span>
                    <input class="rating_input" id="rating" name="rating" th:field="*{rating}" type="range" value="1" step="1" min="0" max="10">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}">
                        Please provide a valid city.
                    </div>
                    </span>
                </div>
            </div>

            <div class="content_form" id="conPhoto" data-ke-size="size26" style="height:311px;">
                <h3 class="content_form_title">사진 첨부하기</h3>
                <p class="content_form_subtitle">방 리뷰할 사진을 등록해주세요.</p>
                <div class="content_photo">
                    <input class="content_photo_input" type="file" name="files" multiple="multiple" accept="image/*">
                    <div class="content_photo_imgarea">
                        <img src="/img/writeForm/uploadPhoto.png" alt="사진올리기">
                    </div>
                    <output id="content_photo_preview" class="content_photo_preview"></output>
                </div>
            </div>
        </div>

    </form>
</section>

<div class="modal hidden" id="jsModal">
    <div class="bg"></div>
    <div class="modalBox">
        <h2>입주민 인증</h2>
        <button class="modalCloseBtn" id="jsCloseBtn">X</button>
        <h1>계약서 사진을 업로드해주세요.</h1>
        <p>사진을 드래그 앤 드롭으로 올려주시거나 눌러서 업로드해주세요.</p>
        <div class="insertContract">
            <input type="file" class="realUpload" accept="image/*" multiple style="display:none;">
            <div class="uploadContract">
                <img src="/img/writeForm/uploadContract.png" alt="사진올리기">
            </div>
            <div>
                <ul class="contractPreview"></ul>
            </div>
        </div>
        <button class="modalComplete">확인</button>
    </div>
</div>
<script>
    const openBtn= document.querySelector(".certificateResident");
        const closeBtn=document.querySelector(".modalCloseBtn");
        const modal = document.querySelector(".modal");

        const open= () => {
        modal.classList.remove("hidden");
        }

        const close = () => {
        modal.classList.add("hidden");
        }

        openBtn.addEventListener("click", open);
        closeBtn.addEventListener("click", close);
</script>


<script src="/js/form/searchAddress.js"></script>
<script src="/js/form/starPoint.js"></script>
<script src="/js/form/processYearSelect.js"></script>
<script src="/js/form/loadPhotoAndValidate.js"></script>
<script src="/js/processReviewForm.js"></script>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</body>
</html>