.content {
  display: grid;
  grid-template-columns: 400px 1fr;
  padding-top: 55px;
  min-height: 100vh;
  box-sizing: border-box;
}

.content .map-container {
  width: 100%;
  height: 100%;
  background-color: lightgrey;
}

.side-nav__filter-container {
  display: block;
}

.filter-container__title-wrapper {
  display: grid;
  grid-template-columns: 1fr 140px;
  align-items: flex-end;
  padding: 16px 16px;
}

.title-wrapper__title {
  font-size: 20px;
  font-weight: 700;
}

.title-wrapper__filter-toggle {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.toggle-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.toggle-wrapper span {
  font-size: 14px;
}

.filter-toggle__switch {
  border-radius: 999px;
  overflow: hidden;
  background-color: green;
  position: relative;
  width: 48px;
  height: 24px;
}

.switch__circle {
  right: 4px;
  top: 3px;
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 999px;
  position: absolute;
}

.filter-container__side-filters {
  padding: 12px 16px;
  padding-top: 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.side-filter-item {
  font-size: 14px;
  background-color: lightgrey;
  padding: 4px 8px;
  border-radius: 999px;
}

.side-nav__items-wrapper {
  margin-top: 16px;
  padding: 0 16px;
}

.side-nav__items {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 12px;
  height: calc(100vh - 382px);
  overflow: auto;
  padding-right: 16px;
}

.side-items-title-wrapper {
  display: flex;
  justify-content: space-between;
}

.side-items-title {
  font-size: 16px;
  font-weight: 700;
}

.side-items-tags {
  font-size: 12px;
  display: flex;
  gap: 8px;
  align-items: center;
  padding-right: 16px;
}

.side-tag {
  display: flex;
  gap: 4px;
  align-items: center;
}

.tag-circle {
  width: 8px;
  height: 8px;
  background-color: lightgrey;
  border-radius: 4px;
}

.side-nav__item {
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 12px;
  position: relative;
}

.item-thumbnail {
  width: 120px;
  height: 120px;
  background-color: lightgrey;
}

.item-details {
  position: relative;
}

.item-details .item__title {
  font-size: 16px;
  font-weight: 600;
}

.item__content {
  font-size: 12px;
  color: grey;
}

.details__bottom-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.item__price-wrapper {
  display: flex;
  justify-content: space-between;
}

.item__price {
  font-size: 12px;
  font-weight: 600;
}

.item__reviews {
  font-size: 12px;
  font-weight: 600;
}

.star-icon {
  width: 12px;
  height: 12px;
  color: yellow;
}

.details__tags-wrapper {
  margin-top: 2px;
  display: flex;
  justify-content: space-between;
}

.details__tags-wrapper .tags {
  display: flex;
  gap: 4px;
  font-size: 12px;
}

.details__tags-wrapper .tags .tag {
  padding: 4px;
  border-radius: 2px;
  background-color: lightgrey;
  height: 14px;
}

.rating-wrapper {
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 14px;
}

.star {
  font-size: 16px;
  color: "gray";
}

.star.filled {
  color: #fff100;
}

.conditionGrid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 두 개의 동일한 너비의 열 */
  grid-template-rows: 1fr 1fr; /* 두 개의 동일한 높이의 행 */
  row-gap: 8px;
}

.warningSign {
  display: flex;
  align-items: center;
}

.levelText {
  font-size: 12px;
  font-weight: 600;
  margin-left: 6px;
  border-right: 1px solid lightgrey;
  padding-right: 6px;
  font-weight: 800;
}

.tag {
  font-size: 12px;
  font-weight: 600;
  padding-left: 8px;
}

.warningIcon {
  height: 12px;
}

.blockContainer {
  margin-top: 24px;
}

.reviewContainer {
  height: 280px;
  overflow-y: scroll;
}

.reviewContainer::-webkit-scrollbar {
  display: none;
}

.reviewContainer {
  scrollbar-width: none;
}
