.slideshow-container {
    position: relative;
    width: 100%;
    margin: auto;
    background: #8E8E8E;
    mix-blend-mode: multiply;
}

.mySlides {
    
    background: #8E8E8E;
    animation: fade 4s linear infinite; /* Adjust the duration as needed */
}

.mySlides img {
    width: 100%;
    /* background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    transition: opacity 2.8s ease-out; */
}

@keyframes fade {
    0% {
        opacity: 0.5;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}


#menu_wrap{
    position:relative;
}
#menu_wrap .option p{
    margin: 10px 0;
}

#menu_wrap .option button{
    margin-left: 5px;
}
#result{
    height: 200px;
    width:746px;
    overflow:scroll;
    background:#fff;
    position:absolute;
    left: 26%;
}
#placesList li {list-style: none;}
#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap; margin: 0; font-size:unset;}
#placesList .item .info{padding:10px 0 10px 10px;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel {color:#009900;}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}

#inputAddressKeyword {
    padding: 10px;
    width: 746px;
    height: 44px;
    flex-shrink: 0;

    border:none;
    border-radius: 8px;
    background: var(--gray-gray-50, #F7F8F9);

    color: var(--text-tertiary, #A4A4A4);

    /* Title 2/Medium */
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 133.333% */
}

#addressKeywordArea{
    padding: 10px;
    width: 841px;
    height: 66px;
    flex-shrink: 0;

    border-radius: 8px;
    background: var(--text-white, #FFF);
}


body{
    background-color: #f5f5f5;
}

/* 메인  설명 */
.content_main{
    position: relative;
    height: 360px;
    margin-bottom: 80px;
    background: #8E8E8E;
    mix-blend-mode: multiply;
}
.content_main li{
    position: absolute;
}
.content_main img{
    width: 100%;
    height: 360px;
}
.content_main_title{
    position: absolute;
    left: 40%;
    top: 18%;
    color: var(--text-white, #FFF);
    text-align: center;

    /* Display/Bold */
    font-family: Pretendard;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 126.316% */
}
.content_main_subTitle{
    position: absolute;
    left: 40%;
    top: 55%;
    color: var(--text-white, #FFF);
    text-align: center;

    /* Title 2/Medium */
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 133.333% */
}


/* 입력받는 area */
.content_input_area{
    width: 861px;
    margin: 12px;

    border-radius: 8px;
    background: var(--text-white, #FFF);
}

.select-menu{
    display:inline-block;
    text-align:center;
    height: 46px;
    margin: 8px;
}

.content_input_title{
    color: var(--text-primary, #222);
    margin-right: 10px;

    /* Title 1/Semibold */
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; /* 130% */
}
.objectInput{
    display: none;
}

.addressInputObject{
    display: none;
}

.select-btn, .price-select-btn{
    display: flex;
    align-items: center;
    float:right;
    height: 30px;
    padding: 6px 3px;

    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);

    border-radius: 8px;
    background: var(--gray-gray-50, #F7F8F9);

    color: var(--text-primary, #222);

    /* Body 1/Medium */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
}

.sBtn-text, .price-text{
    padding: 0px 10px;
}

.select-menu .options{
    position:absolute;
    width: 244px;
    padding: 10px;
    margin-top: 20px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);

    border-radius: 8px;
    border: 1px solid var(--primary-light, #77C662);
}

.options .option{
    display: flex;
    height: 44px;
    cursor: pointer;
    padding: 12px 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
}
.options .option:hover{
    background: var(--gray-gray-50, #F7F8F9);
}

.option .option-text{
    color: var(--text-primary, #222);

    /* Body 1/Medium */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
}

/* 검색 완료 area */
.content_submit_area{
    margin-bottom: 150px;
    display: flex;
    width: 861px;
    justify-content: space-between;
}
.text_hint{
    color: var(--status-caution, #FA9538);
    margin-left: 8px;

    /* Labe 2/Regular */
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}
.submitBtn{
    display: inline-flex;
    padding: 4px 18px;
    align-items: flex-start;
    gap: 10px;

    border:none;
    border-radius: 8px;
    background: var(--primary-normal, #459830);

    color: var(--text-white, #FFF);
    text-align: center;

    /* Title 2/SemiBold */
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 133.333% */
}
.resetBtn{
    display: inline-flex;
    padding: 4px 18px;
    align-items: flex-start;
    gap: 10px;

    border:none;
    border-radius: 8px;
    background: var(--black-white-white, #FFF);

    color: var(--text-tertiary, #A4A4A4);
    text-align: center;

    /* Title 2/Medium */
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 133.333% */
}

