
.container{
    width: 100%;
    background-color: #fff;
}
.content_user_info{
    text-align: -webkit-center;
    margin: 100px 10px;
    width:auto;
    float: left;
}
.content_user_point{
    width: 100%;
    height: 210px;
    margin: 50px 200px;
}
.img_user_profile{
    width: 100px;
    height: 100px;

    border-radius: 100px;
}
.text_user_nickname{
    color: #383838;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.5px;
}
.user_point_area{
    width: 20%;
    height: 203px;
    flex-shrink: 0;

    float: left;
    margin: 0px 20px;
    text-align: center;

    border-radius: 4px;
    border: 1px solid var(--gray-gray-100, #E8EBED);
    background: var(--text-white, #FFF);
}
.text_main_title{
    color: #000;
    text-align: center;
    
    /* Label 1/Bold */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
}
.test_sub_title{
    color: #000;
    text-align: center;
    
    /* Label 1/Regular */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
}
.text_other{
    color: var(--text-tertiary, #A4A4A4);

    /* Caption 1/Regular */
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
}




/*point exchange area */
.content_point_exchange{
    margin-top: 200px;
    width:auto;
    text-align:-webkit-center;
    background-color: #fff;
}
.content_point_event{
    width:1300px;
    height: 1400px;
    margin-left:10%;
    text-align:-webkit-center;
    background-color: #fff;
}

.content_title{
    color: var(--text-primary, #222);
    margin-bottom: 20px;

    /* Head 2/SemiBold */
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 133.333% */
}
.point_exchange_item{
    position: relative;
    width: 1280px;
    height: 180px;

    margin: 18px 0px;

    border-radius: 8px;
}
.text_point_title{
    position: absolute;
    top: 96px;
    right: 15px;
    text-align: right;

    /* Head 2/SemiBold */
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 133.333% */
}
.text_point_sub{
    position: absolute;
    top: 136px;
    right: 15px;
    text-align: right;

    /* Title 2/SemiBold */
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 133.333% */
}


/* point event area */
.list-control .sort-by .btn {
    margin-left: 6px;
    vertical-align: top;
}
.btn.sort {
    min-width: 95px;
    height: 38px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 100px;
    background-color: #f0f0f0;
    text-align: center;
}
.btn {
    text-align: center;
    font-size: 15px;
    color: #666;
    letter-spacing: -.04em;
}
li{
    list-style: none;
    word-break: keep-all;
    line-height: 1.4;
}
.post-list li {
    box-sizing: content-box;
    position: relative;
    float: left;
    width: 272px;
    height: auto;
    padding-right: 27px;
}
.post-list.ongoing li .post-anchor {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 272px;
    height: 360px;
    display: block;
    background: rgba(0,0,0,0.0);
}
.post-list.ongoing li .post-anchor {
    z-index: 2;
}
.post-list li .thumb {
    position: relative;
    overflow: hidden;
    width: 270px;
    height: 270px;
    background-color: #f5f5f5;
    border: 1px solid #dfdfdf;
    border-bottom-width: 0;
    z-index: 1;
}
.ev-lb.ty3 {
    background-color: #fff;
    color: #357fd3;
}
.ev-lb {
    box-sizing: border-box;
    position: absolute;
    top: -23px;
    left: 14px;
    width: 54px;
    height: 76px;
    padding-top: 28px;
    border-radius: 100px;
    background-color: #fff;
    font-size: 14px;
    font-weight: 500;
    color: #00c5cc;
    text-align: center;
    z-index: 1;
    -webkit-box-shadow: 0 2px 15px 2px rgba(0,0,0,0.12);
    box-shadow: 0 2px 15px 2px rgba(0,0,0,0.12);
}
.post-list li .meta {
    width: 270px;
    padding: 22px 19px 15px;
    border: 1px solid #dfdfdf;
    border-top-width: 0;
    letter-spacing: -0.085em;
}

.post-list li .meta h3.line-1 {
    margin-top: 0;
    max-height: 28px;
    -webkit-line-clamp: 1;
}
.post-list li .meta h3 {
    display: -webkit-box;
    overflow: hidden;
    max-height: 2.6em;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    word-break: break-all;
    margin: 10px 0 8px;
    font-size: 22px;
    color: #333;
    line-height: 1.3em;
}