<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Succession Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="/css/starter-template.css" rel="stylesheet">
    <link href="/css/form/formCheckbox.css" rel="stylesheet">
    <link href="/css/form/reviewForm.css" rel="stylesheet">
    <link href="/css/form/formNavbar.css" rel="stylesheet">
    <link href="/css/form/certificateModal.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href='https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css'>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="sweetalert2.all.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://pyodide-cdn2.iodide.io/v0.15.0/full/pyodide.js"></script>
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>

</head>
<body style="background : #f5f5f5;">
<nav class="navbar bg-body-tertiary" th:replace="~{fragments/common :: menu}">
</nav>

<nav class="formNav">
    <ul>
        <li><a class="formNav_link" href="" th:href="@{/succession/form}">승계글 쓰기</a></li>
        <li><a class="formNav_link" href="" th:href="@{/succession/detail}">내가 작성한 글</a></li>
    </ul>
</nav>

<section class="container">
    <form id="content_form" action="#" th:object="${succession}" th:action="@{/succession/form}" method="post"
          enctype="multipart/form-data">
        <aside class="sidebar" id="sidebar">
            <div class="sidebar_content">
                <p class="sidebar_title">승계글 항목</p>
                <ul>
                    <li><a class="sidebar_content_title" href="#conHouseType">방구조</a></li>
                    <li><p class="text_select_result"></p></li>
                    <li><a class="sidebar_content_title" href="#conLocationInfo">위치정보</a></li>
                    <li><p class="text_select_result"></p></li>
                    <li><p class="text_select_result"></p></li>
                    <li><a class="sidebar_content_title" href="#conTerm">계약 기간</a></li>
                    <li><p class="text_select_result"></p></li>
                    <li><a class="sidebar_content_title" href="#conTransInfo">거래 정보</a></li>
                    <li><p class="text_select_result"></p></li>
                    <li><a class="sidebar_content_title" href="#conBasicInfo">기본 정보</a></li>
                    <li><a class="sidebar_content_title" href="#conText">추가 내용</a></li>
                    <li><a class="sidebar_content_title" href="#conPhoto">사진</a></li>
                    <li><input id="sidebar_btn_submit" type="submit" value="계약서 인증"></li>
                    <li><input id="sidebar_btn_return" type="button" value="뒤로가기" onclick="history.back()"></li>
                </ul>
            </div>
        </aside>

        <div class="content" align="center">
            <input type="hidden" th:field="*{articleNo}">

            <div class="content_form" id="conHouseType" data-ke-size="size26" style="margin-top: 20px;">
                <h3 class="content_form_title">방구조</h3>
                <p class="content_form_subtitle">리뷰를 작성할 집의 구조 형태를 선택해주세요.</p>
                <div class="content_form_radioBtn">
                    <input id="oneRoom" type="radio" name="houseType" value="원룸" onclick="inputSelectTextS(this)">
                    <label for="oneRoom">원룸</label>
                </div>
                <div class="content_form_radioBtn">
                    <input id="twoRoom" type="radio" name="houseType" value="투룸" onclick="inputSelectTextS(this)">
                    <label for="twoRoom">투룸</label>
                </div>
                <div class="content_form_radioBtn">
                    <input id="threeRoom" type="radio" name="houseType" value="쓰리룸" onclick="inputSelectTextS(this)">
                    <label for="threeRoom">쓰리룸</label>
                </div>
                <div class="content_form_radioBtn">
                    <input id="officeTels" type="radio" name="houseType" value="오피스텔" onclick="inputSelectTextS(this)">
                    <label for="officeTels">오피스텔</label>
                </div>
                <div class="content_form_radioBtn">
                    <input id="apartment" type="radio" name="houseType" value="아파트" onclick="inputSelectTextS(this)">
                    <label for="apartment">아파트</label>
                </div>
            </div>

            <div class="content_form" id="conLocationInfo" data-ke-size="size26" style="height: 265px;">
                <h3 class="content_form_title">위치정보 및 계약기간</h3>
                <p class="content_form_subtitle">주소와 거주년도를 입력해주세요.</p>
                <label for="address"></label>
                <form class="content_form_location" method="post">
                    <input class="content_form_addressInput" type="text" placeholder="도로명, 건물명 지번 입력" id="address" name="addressName"
                           size="60%" th:field="*{address}" required oninput="inputSelectTextS(this)" readonly>
                    <input class="content_form_location_submit" type="button" value="검색" id="addressSearchBtn"
                           onclick="sample6_execDaumPostcode()">
                </form>

                <input class="content_form_addressInput" type="text" placeholder="상세 주소를 입력해주세요." id="addressDetail" name="addressDetail"
                       size="80%" th:field="*{addressDetail}" required oninput="inputSelectTextS(this)" readonly><br>
                <div class="content_term">
                    <span class="content_term_title">계약기간</span>
                        <input class="content_term_select" type="text" placeholder="거주년도" id="periodYear" name="periodYear" required readonly>
                        <input class="content_term_select" type="text" placeholder="월" id="periodMonth" name="periodMonth" required readonly>
                        <input class="content_term_select" type="text" placeholder="일" id="periodDay" name="periodDay" required readonly>
                </div>
            </div>

            <div class="content_form" id="conTransInfo" data-ke-size="size26">
                <h3 class="content_form_title">거래 정보</h3>
                <p class="content_form_subtitle">승계할 집의 정보를 선택해주세요.</p>
                <div class="content_form_radioBtn">
                    <input id="monthlyRent" type="radio" name="payType" value="월세" onclick="inputSelectTextS(this)" >
                    <label for="monthlyRent">월세</label>
                </div>
                <div class="content_form_radioBtn">
                    <input id="jeonse" type="radio" name="payType" value="전세" onclick="inputSelectTextS(this)">
                    <label for="jeonse">전세</label>
                </div>

            </div>


            <div class="content_form" id="conBasicInfo" data-ke-size="size26">
                <h3 class="content_form_title">기본 정보</h3>
                <p class="content_form_subtitle">승계할 집의 정보를 선택해주세요.</p>
                <div class="content_input_fee">
                    <label class="content_input_fee_title" for="payment">관리비</label>
                    <input type="text" id="payment" th:field="*{payment}" placeholder="예)5만원" required oninput="inputSelectTextS(this)">
                </div>
                <div class="content_input_fee">
                    <label class="content_input_fee_title">금액</label>
                    <label class="content_input_fee_subtitle" for="deposit">보증금</label>
                    <input type="text" id="deposit" th:field="*{deposit}" placeholder="(단위:만원)" required>
                    <label class="content_input_fee_subtitle" for="fee">월세</label>
                    <input type="text" id="fee" th:field="*{fee}" placeholder="(단위:만원)">
                </div>
                <div class="content_input_product">
                    <label class="content_input_fee_title">옵션 항목</label>
                    <div style="display:inline-block; width: 520px;">
                        <div class="content_form_checkBtn">
                            <input id="opSink" type="checkbox" name="optionQuality" value="싱크대">
                            <label for="opSink">싱크대</label>
                        </div>
                        <div class="content_form_checkBtn">
                            <input id="opAirConditioner" type="checkbox" name="optionQuality" value="에어컨">
                            <label for="opAirConditioner">에어컨</label>
                        </div>
                        <div class="content_form_checkBtn">
                            <input id="opShoeRack" type="checkbox" name="optionQuality" value="신발장">
                            <label for="opShoeRack">신발장</label>
                        </div>
                        <div class="content_form_checkBtn">
                            <input id="opWashingMachine" type="checkbox" name="optionQuality" value="세탁기">
                            <label for="opWashingMachine">세탁기</label>
                        </div>
                        <div class="content_form_checkBtn">
                            <input id="opRefrigerator" type="checkbox" name="optionQuality" value="냉장고">
                            <label for="opRefrigerator">냉장고</label>
                        </div>
                        <div class="content_form_checkBtn">
                            <input id="opCloset" type="checkbox" name="optionQuality" value="옷장">
                            <label for="opCloset">옷장</label>
                        </div>
                        <div class="content_form_checkBtn">
                            <input id="opDesk" type="checkbox" name="optionQuality" value="책상">
                            <label for="opDesk">책상</label>
                        </div>
                        <div class="content_form_checkBtn">
                            <input id="opBed" type="checkbox" name="optionQuality" value="침대">
                            <label for="opBed">침대</label>
                        </div>
                        <div class="content_form_checkBtn">
                            <input id="opGasStove" type="checkbox" name="optionQuality" value="가스레인지">
                            <label for="opGasStove">가스레인지</label>
                        </div>
                        <div class="content_form_checkBtn">
                            <input id="opMicrowave" type="checkbox" name="optionQuality" value="전자레인지">
                            <label for="opMicrowave">전자레인지</label>
                        </div>
                    </div>
                </div>

                <div class="content_input_product">
                    <label class="content_input_fee_title">승계물품</label>
                    <div class="content_form_checkBtn">
                        <input id="suDesk" type="checkbox" name="successionQuality" value="책상">
                        <label for="suDesk">책상</label>
                    </div>
                    <div class="content_form_checkBtn">
                        <input id="suChair" type="checkbox" name="successionQuality" value="의자">
                        <label for="suChair">의자</label>
                    </div>
                    <div class="content_form_checkBtn">
                        <input id="suGlass" type="checkbox" name="successionQuality" value="전신거울">
                        <label for="suGlass">전신거울</label>
                    </div>
                    <div class="content_form_checkBtn">
                        <input id="suTable" type="checkbox" name="successionQuality" value="탁자">
                        <label for="suTable">탁자</label>
                    </div>
                    <div class="content_form_checkBtn">
                        <input id="suHanger" type="checkbox" name="successionQuality" value="행거">
                        <label for="suHanger">행거</label>
                    </div>
                    <div class="content_form_checkBtn">
                        <input id="suMattress" type="checkbox" name="successionQuality" value="매트리스">
                        <label for="suMattress">매트리스</label>
                    </div>
                </div>
            </div>

            <div class="content_form" id="conText" data-ke-size="size26">
                <h3 class="content_form_title">상세 설명</h3>
                <p class="content_form_subtitle">집에 대한 정보를 상세하게 적어주세요.</p>
                <div class="content_input_text">
                    <input type="text" id="contentTitle" name="contentTitle" placeholder="제목을 작성해주세요."
                           th:field="*{contentTitle}"><br>
                    <textarea class="form-control" id="contentText" rows="10" th:field="*{contentText}"
                              placeholder="내용을 입력해주세요"></textarea>
                </div>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('contentText')}" th:errors="*{contentText}">
                    CONTENT ERROR MESSAGE
                </div>
            </div>

            <div class="content_form" id="conPhoto" data-ke-size="size26" style="margin-bottom: 200px;">
                <h3 class="content_form_title">사진 첨부하기</h3>
                <p class="content_form_subtitle">사진을 등록해주세요.</p>
                <div class="content_photo">
                    <input class="content_photo_input" type="file" name="files" multiple="multiple" accept="image/*">
                    <div class="content_photo_imgarea">
                        <img src="/img/writeForm/uploadPhoto.png" alt="사진올리기">
                    </div>
                    <output id="content_photo_preview" class="content_photo_preview"></output>
                </div>
            </div>
        </div>
    </form>
</section>


<div class="modal hidden" id="jsModal">
    <div class="bg"></div>
    <div class="modalBox">
        <button class="modal_closeBtn" id="jsCloseBtn">X</button>
        <h2 class="text_modal_title">계약서 인증</h2>
        <h1 class="text_explain_title">계약서 사진을 업로드해주세요.</h1>
        <p class="text_explain_sub">사진을 드래그 앤 드롭으로 올려주시거나 눌러서 업로드해주세요.</p>
        <div class="input_contract_area">
            <input  id="fileInput" type="file" name="contract_img" class="input_contract_photo" accept="image/*" multiple="multiple"
                   style="display:none;">
            <div class="upload_contract_area">
                <img class="uploadIcon" src="/img/writeForm/uploadContract.png" alt="사진올리기">
            </div>
            <img id="altImg" class="altImg hidden" src="">
            <div id="crop-container"></div>
        </div>
        <button class="modal_complete_btn" id="insert" onclick="imgUpload()">확인</button>
    </div>
</div>
<script>


</script>

<script>


</script>
<script src="/js/processSuccessionForm.js"></script>
<!--<script src="/js/form/processDateSelect.js"></script>-->
<script src="/js/form/searchAddress.js"></script>
<script src="/js/form/loadPhotoAndValidate.js"></script>
<script src="/js/form/inputValueSidebar.js"></script>
<script src="/js/form/imgToText.js"></script>
<script src="/js/form/openModal.js"></script>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<link rel="stylesheet" href="https://unpkg.com/jcrop/dist/jcrop.css">
<script src="https://unpkg.com/jcrop"></script>
</body>
</html>