#menu_wrap{
    position:relative;
}
#menu_wrap .option p{
    margin: 10px 0;
}

#menu_wrap .option button{
    margin-left: 5px;
}
#result{
    height: 200px;
    width:746px;
    overflow:scroll;
    background:#fff;
    position:absolute;
    left: 26%;
}
#placesList li {list-style: none;}
#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:10px 0 10px 10px;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel {color:#009900;}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}

#inputAddressKeyword {
    padding: 10px;
    width: 746px;
    height: 44px;
    flex-shrink: 0;

    border:none;
    border-radius: 8px;
    background: var(--gray-gray-50, #F7F8F9);

    color: var(--text-tertiary, #A4A4A4);

    /* Title 2/Medium */
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 133.333% */
}

#addressKeywordArea{
    padding: 10px;
    width: 841px;
    height: 66px;
    flex-shrink: 0;

    border-radius: 8px;
    background: var(--text-white, #FFF);
}


body{
    background-color: #f5f5f5;
}
{% comment %} main 설명 area {% endcomment %}
.content_main{
    position: relative;
    height: 360px;
    margin-bottom: 80px;
}
.content_main img{
    width: 1920px;
    height: 360px;

    mix-blend-mode: multiply;
}
.content_main_title{
    position: absolute;
    left: 38%;
    top: 32%;
    color: var(--text-white, #FFF);
    text-align: center;

    /* Display/Bold */
    font-family: Pretendard;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 126.316% */
}
.content_main_subTitle{
    position: absolute;
    left: 38%;
    top: 62%;
    color: var(--text-white, #FFF);
    text-align: center;

    /* Title 2/Medium */
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 133.333% */
}


{% comment %} 입력받는 area {% endcomment %}
.content_input_area{
    width: 841px;
    margin: 12px;

    border-radius: 8px;
    background: var(--text-white, #FFF);
}

.select-menu{
    display:inline-block;
    text-align:center;
    height: 46px;
    margin: 8px;
}

.content_input_title{
    color: var(--text-primary, #222);
    margin-right: 10px;

    /* Title 1/Semibold */
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; /* 130% */
}

.select-btn{
    display: flex;
    float:right;
    height: 44px;
    padding: 12px 16px;

    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);

    border-radius: 8px;
    background: var(--gray-gray-50, #F7F8F9);

    color: var(--text-primary, #222);

    /* Body 1/Medium */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
}

.select-btn i{
    font-size: 25px;
    transition: 0.3s;
}

.select-menu.active .select-btn i{
    transform: rotate(-180deg);
}

.select-menu .options{
    position:absolute;
    width: 244px;
    padding: 10px;
    margin-top: 10px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    display: none;

    border-radius: 8px;
    border: 1px solid var(--primary-light, #77C662);
}
.select-menu.active .options{
    display: block;
}
.options .option{
    display: flex;
    height: 44px;
    cursor: pointer;
    padding: 12px 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
}
.options .option:hover{
    background: var(--gray-gray-50, #F7F8F9);
}

.option .option-text{
    color: var(--text-primary, #222);

    /* Body 1/Medium */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
}

{% comment %} submit area {% endcomment %}
.content_submit_area{
    display: flex;
    width: 841px;
    justify-content: space-between;
}
.text_hint{
    color: var(--status-caution, #FA9538);

    /* Labe 2/Regular */
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}
.submitBtn{
    display: inline-flex;
    padding: 4px 18px;
    align-items: flex-start;
    gap: 10px;

    border:none;
    border-radius: 8px;
    background: var(--primary-normal, #459830);

    color: var(--text-white, #FFF);
    text-align: center;

    /* Title 2/SemiBold */
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 133.333% */
}
.resetBtn{
    display: inline-flex;
    padding: 4px 18px;
    align-items: flex-start;
    gap: 10px;

    border:none;
    border-radius: 8px;
    background: var(--black-white-white, #FFF);

    color: var(--text-tertiary, #A4A4A4);
    text-align: center;

    /* Title 2/Medium */
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 133.333% */
}
{% comment %} 추천 검색 결과 area {% endcomment %}
.content_result_title{
    color: var(--text-primary, #222);
    text-align: center;

    /* Head 1/SemiBold */
    font-family: Pretendard;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px; /* 135.714% */
}

.content_result_one{
    position: relative;
    margin: 20px;

    width: 400px;
    height: 355px;
    flex-shrink: 0;

    border: none;
    border-radius: 4px;
}

.content_result_one:hover{
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.content_result_one:hover ~ .result_address_area { display: block; }

.result_address_area{

    position: absolute;
    top: 280px;

    width: 400px;
    height: 72px;
    flex-shrink: 0;

    border-radius: 0px 0px 4px 4px;
    background: #AEAEAE;
    mix-blend-mode: multiply;
}

.addressPin{
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

.result_address{
    color: var(--text-white, #FFF);

    /* Title 2/SemiBold */
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 133.333% */
}

{% comment %} 추천 리뷰 area {% endcomment %}
.content_review_area{
    width: 1380px;
    height: 350px;
}
.content_review_title{
    color: var(--text-primary, #222);
    text-align: center;
    margin: 20px;

    /* Head 1/SemiBold */
    font-family: Pretendard;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px; /* 135.714% */
}
.content_review_each{
    position: relative;
    float: left;
    margin: 20px;
    padding: 26px 20px;

    text-align: left;
    width: 290px;
    height: 220px;
    flex-shrink: 0;

    border-radius: 4px;
    border: 1px solid var(--gray-gray-200, #C9CDD2);
    background: var(--text-white, #FFF);
}
.review_location_mark{
    width: 16px;
    height: 16px;
}
.review_address{
    color: var(--text-primary, #222);

    /* Body 1/Medium */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
}
.review_content{
    margin-top: 10px;
    height: 110px;

    color: var(--text-primary, #222);

    /* Labe 2/Regular */
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}
.review_recommend_title{
    margin-right: 8px;
    color: var(--text-primary, #222);

    /* Caption 1/Regular */
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
}
.review_recommend_cnt{
    color: var(--text-primary, #222);

    /* Caption 1/Bold */
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 133.333% */
}
.review_detail_link{
    float: right;
    color: var(--primary-normal, #459830);
    text-align: center;

    /* Body 2/Medium */
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}
.review_more_link{
    float: right;
    text-decoration-line: none;

    color: var(--text-primary, #222);

    /* Body 2/Medium */
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}