@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
:root {
    --accent-color: #0000;
    --text-color: #0;
    --background-color: #ffff;}

.body {
    margin: 0;
    font-family: 'Montserrat';}

a {
    text-decoration: none;
    color: var(--text-color);}

.navbar {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 8px 100px;}

.siteLogo{
    width: 101px;
    height: 37px;
}

.nav_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav_menu a{
    display: flex;
    width: 64px;
    height: 31px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    flex-shrink: 0;

    /*color: var(--text-primary, #222);*/
    color: #222;
    text-align: center;

    /* Title 1/Medium */
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 130% */
}

.nav_menu li {
    padding: 8px 2px;
    align-items:center;
}

.nav_menu li:hover {
    color: #459830;
    background-color: var(--accent-color);
    border-radius: 4px;}

.nav_menu li a:hover {
    color: #459830;}

.nav_menu a:hover:after{
    content:"";
    width: 64px;
    display:block;
    position: absolute;
    margin-top: 25px;
    border-bottom: 2px solid #459830;
}


.nav_icons {
    display: flex;
    list-style: none;
    padding-left: 0;
    z-index: 1;
}

.nav_icons a{
    /*color: var(--text-primary, #222);*/
    color: #222;
    text-align: center;

    /* Body 1/Medium */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
}

.nav_icons li {
    padding: 8px 5px;}

.nav_icons li a:hover {
    color: #459830;
}


.navbar_toggleBtn {
    display: none;
    color:var(--text-color);
    position: absolute;
    right: 32px;
    font-size: 24px;}

.dropBtn{
    width: 98px;
    height: 44px;
    flex-shrink: 0;

    border-radius: 8px;
    border: none;
    /*background: var(--primary-normal, #459830);*/
    background: #459830;

    /*color: var(--text-white, #FFF);*/
    color: #FFF;
    text-align: center;

    /* Body 1/Medium */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
}

.dropDownContent{
    width: 240px;
    height: 128px;
    flex-shrink: 0;

    display: none;
    position : absolute;
    border-radius: 4px;
    /*background: var(--black-white-white, #FFF);*/
    background: #FFF;

    /* hover 1 */
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.40);
}

.dropdown:hover .dropDownContent{
    display: block;
}

.writeLink {
    width: 240px;
    height: 64px;
    flex-shrink: 0;

    padding: 12px 20px;

    border-radius: 4px;
    /*background: var(--black-white-white, #FFF);*/
    background: #FFF;
}

.writeLink:hover{
    border-radius: 4px;
    /*background: var(--gray-gray-50, #F7F8F9);*/
    background: #F7F8F9;
}

.writeLink h4{
    /*color: var(--text-primary, #222);*/
    color: #222;

    /* Body 1/Medium */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
}

.writeLink p{
    /*color: var(--text-secondary, #666);*/
    color: #666;

    /* Caption 1/Regular */
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
}