<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Main</title>-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"-->
<!--          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--    <link href="/css/starter-template.css" rel="stylesheet">-->
<!--    <link href="/css/footerCss.css" rel="stylesheet">-->
<!--    <link href="/css/loginModal.css" rel="stylesheet">-->

<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>-->
<!--    -->
<!--</head>-->
<body>
<div>
    <nav class="navbar" th:fragment="menu">
        <div class="nav_logo">
            <a href="" th:href="@{/}">
                <img class="siteLogo" alt="siteLogo" src="/img/siteLogo.png">
            </a>

        </div>
        <ul class="nav_menu">
            <li><a href="http://localhost:3000/map" >지도</a></li>
            <li><a href="" th:href="@{/ai/list}">AI 추천</a></li>
            <li><a href="http://localhost:3000/successionBoard">승계방</a></li>
            <li><a href="" th:href="@{/benefit/list}">혜택</a></li>
        </ul>
        <ul class="nav_icons">
            <li>
                <div sec:authorize="!isAuthenticated()">
                    <a class="fa-brands fa-facebook" href="http://localhost:8080/oauth2/authorization/kakao">
                        <img alt="로그인" src="/img/kakao_login_small.png"/>
                    </a>
                    <div class="modal fade" id="loginModal" tabindex="-1"aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" style="width:480px; height:600px;">
                            <th:block th:replace="~{/account/login :: login}"></th:block>
                        </div>
                    </div>    
                </div>   
            </li>
            <li><a class="fa-brands fa-twitter" href="http://localhost:3000/chat" sec:authorize="isAuthenticated()">메시지</a></li>
            <li><a class="fa-brands fa-facebook" href="http://localhost:3000/myPage" sec:authorize="isAuthenticated()" sec:authentication="name">마이페이지</a></li>
            <li class="dropdown">
                <button class="dropBtn">
                    글쓰기
                </button>
                <div class="dropDownContent">
                    <div class="writeLink"  style=" cursor: pointer;" th:onclick="|location.href='@{/review/form}'|">
                        <h4>리뷰 작성하기</h4>
                        <p>솔직 담백하게 리뷰를 작성해주세요.</p>
                    </div>
                    <div class="writeLink" style=" cursor: pointer;" th:onclick="|location.href='@{/succession/form}'|">
                        <h4>승계글 작성하기</h4>
                        <p>원룸 승계글을 작성해주세요.</p>
                    </div>
                </div>
            </li>

        </ul>
        <a href="#" class="navbar_toggleBtn">
            <i class="fa-solid fa-bars"></i>
        </a>
    </nav>
</div>


<footer class="bottomBar" th:fragment="bottomBar">
    <div class="moreSiteInfoLink">
        <span>서비스 소개</span>
        <span>고객센터</span>
        <span>자주 찾는 질문</span>
        <span>이용안내</span>
    </div>
    <div class="siteInfo">
        <div class="siteName">
            <h3>못난집</h3>
        </div>
        <span>대표이사:박기홍</span>
        <span>경북 경산시 대학로 280</span>
        <span>사업자등록번호 : 123-45-67890</span><br>
        <span>개인정보보호책임자 : 박기홍</span>
        <h4>Copyright © 2023 Yeungnam University All rights reserved.</h4>

    </div>
</footer>
</body>
</html>