<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/starter-template.css" rel="stylesheet">
<style>

</style>
</head>
<body>
<div>
    <nav class="navbar" th:fragment="menu">
        <div class="nav_logo">
            <a href="" th:href="@{/}">
                <img alt="siteLogo"></img>
            </a>

        </div>
        <ul class="nav_menu" style="font-size:20px;">
            <li><a href="" th:href="@{/map/list}">지도</a></li>
            <li><a href="" th:href="@{/ai/list}">AI 추천</a></li>
            <li><a href="" th:href="@{/succession/list}">승계방</a></li>
            <li><a href="" th:href="@{/benefit/list}">혜택</a></li>
        </ul>
        <ul class="nav_icons" style="font-size:16px;">
            <li><a class="fa-brands fa-twitter" href="" th:href="@{/account/login}">로그인</a></li>
            <li><a class="fa-brands fa-facebook" href="" th:href="@{/account/joinMembership}">회원가입</a></li>
            <li><a class="fa-brands fa-twitter" href="" th:href="@{/chat}">메시지</a></li>
            <li><a class="fa-brands fa-facebook" href="" th:href="@{/account/myPage}">마이페이지</a></li>
            <li class="dropdown">
                <button class="dropBtn">
                    글쓰기
                </button>
                <div class="dropDownContent">
                    <a href="" th:href="@{/review/form}">리뷰 작성하기</a>
                    <a href="" th:href="@{/succession/form}">승계글 작성하기</a>
                </div>
            </li>

        </ul>
        <a href="#" class="navbar_toggleBtn">
            <i class="fa-solid fa-bars"></i>
        </a>
    </nav>
</div>
</body>
</html>