/*단점 선택*/
.weaknessKeyword{
    display: inline-block;
    margin-right:10px;
}

.weaknessKeyword input[type=checkbox] {
    display: none;
}

.weaknessKeyword label{
    display: inline-block;
    cursor: pointer;
    padding: 0px 15px;
    line-height: 34px;
    border: 1px solid #999;
    border-radius: 6px;
    user-select: none;
}

.weaknessKeyword input[type=checkbox]:checked + label{
    background: #459830;
}

.weaknessKeyword label:hover{
    color: #666;
}

/*방 type 선택*/
.chooseHouseTypeBtn{
    display: inline-block;
    margin-right:10px;
}

.chooseHouseTypeBtn input[type=radio] {
    display: none;
}

.chooseHouseTypeBtn label{
    display: inline-block;
    cursor: pointer;
    padding: 0px 15px;
    line-height: 34px;
    border: 1px solid #999;
    border-radius: 6px;
    user-select: none;
}

.chooseHouseTypeBtn input[type=radio]:checked + label{
    background: #459830;
}

.chooseHouseTypeBtn label:hover{
    color: #666;
}


/*옵선 물건 선택*/

.optionItems{
    display: inline-block;
    margin-right:10px;
}

.optionItems input[type=checkbox] {
    display: none;
}

.optionItems label{
    display: inline-block;
    cursor: pointer;
    padding: 0px 15px;
    line-height: 34px;
    border: 1px solid #999;
    border-radius: 6px;
    user-select: none;
}

.optionItems input[type=checkbox]:checked + label{
    background: #459830;
}

.optionItems label:hover{
    color: #666;
}

/*승계물품에 대한 css*/

.successionItems{
    display: inline-block;
    margin-right:10px;
}

.successionItems input[type=checkbox] {
    display: none;
}

.successionItems label{
    display: inline-block;
    cursor: pointer;
    padding: 0px 15px;
    line-height: 34px;
    border: 1px solid #999;
    border-radius: 6px;
    user-select: none;
}

.successionItems input[type=checkbox]:checked + label{
    background: #459830;
}

.successionItems label:hover{
    color: #666;
}
