<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Insert title here</title>-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash;<div th:if="${userId == null}">&ndash;&gt;-->
<!--&lt;!&ndash;    <a th:href="@{https://kauth.kakao.com/oauth/authorize(client_id='809168c6a7ed3a39f1f86de8bc4cb57f', redirect_uri='http://localhost:8080/login', response_type='code')}">&ndash;&gt;-->
<!--&lt;!&ndash;        <img src="/img/kakao_login/ko/kakao_login_medium_wide.png" alt="Kakao Login">&ndash;&gt;-->
<!--&lt;!&ndash;    </a>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<a href="/oauth2/authorization/kakao">-->
<!--    <img src="/img/kakao_login/ko/kakao_login_medium_wide.png" alt="Kakao-->
<!--</a>-->
<!--<a href="/oauth2/authorization/google">-->
<!--<img src="/img.google/googlelogin.png" alt="google login">-->
<!--</a>-->
<!--<form action="/login" method="post">-->
<!--    <input type="text" name="name" placeholder="id">-->
<!--    <input type="password" name="password" placeholder="password">-->
<!--    <button type="submit">로그인</button>-->
<!--</form>-->
<!--&lt;!&ndash;<div th:if="${userId != null}">&ndash;&gt;-->
<!--&lt;!&ndash;    <h1>로그인 성공입니다</h1>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/login" method="post">
    <input type="text" name="name">
    <input type="password" name="password">
    <button type="submit">제출</button>
</form>
<div>
    <a href="/oauth2/authorization/kakao">
        <img src="/img.google/kakao_login_medium_wide.png" alt="Kakao login"</a>
</div>
<div>
    <a href="/oauth2/authorization/google">
        <img src="/img.google/googlelogin.png" alt="google login">
    </a>
</div>

<div>
    <a href="/logout">로그아웃</a>
</div>

</body>

</html>