<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/css/loginModal.css" rel="stylesheet">
</head>
<th:block th:fragment="login">
    <body>
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title" align="center">SNS 계정 로그인</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="member_login">
                <form th:action="@{/login}" th:method="POST">
                    <!-- 카카오 로그인 아이콘 -->
                    <div class="login_api">
                        <a href="/oauth2/authorization/kakao">
                            <img src="/img/kakaologin.png" alt="KAKAO LOGIN">
                        </a>
                    </div>
                    <!-- 구글 로그인 아이콘 -->
                    <div class="login_api">
                        <a href="/oauth2/authorization/google">
                            <img src="/img/googlelogin.png" alt="GOOGLE LOGIN">
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </body>
</th:block>
</html>
