<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>MyPage - No Succession</title>
</head>
<body>
<nav class="navbar bg-body-tertiary" th:replace="fragments/common :: menu">
</nav>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">내가 쓴 승계글</h2>
          <p>아직 승계글이 없습니다.</p>
        </div>
      </div>
    </div>
  </div>
</div>


</body>
</html>
