<!--&lt;!&ndash; welcome-modal.html &ndash;&gt;-->
<!--<div id="welcomeModal" class="modal" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--  <div class="modal-content">-->
<!--    <span th:text=" ${username} + '님 환영합니다!'"></span>-->
<!--  </div>-->
<!--</div>-->

<!--<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
<!--<script th:inline="javascript">-->
<!--    /* JavaScript 코드 */-->
<!--    $(document).ready(function () {-->
<!--        /* 모달 창 열기 */-->
<!--        $('#welcomeModal').show();-->
<!--        /* 일정 시간이 지난 후 모달 창 닫기 */-->
<!--        setTimeout(function () {-->
<!--            $('#welcomeModal').hide();-->
<!--        }, 5000);  // 5초 후 모달 닫기 (설정 가능)-->
<!--    });-->
<!--</script>-->

